@import "../../../../styles/index.scss";

.wrapper{
    background: #fff;
    padding: 40px 40px;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;

    .property_wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .property_container{

            p{
                font-family: Montserrat;
                font-weight: 600;
                font-size: 16px;
                line-height: 100%;
                letter-spacing: 0%;
                text-align: left;
                color: #C40002;
                margin-bottom: 10px;
            }

            h1{
                font-family: Helvetica;
                font-weight: 500;
                font-size: 52px;
                line-height: 114.99999999999999%;
                letter-spacing: 0%;
                color: #191919;
                // width: 90%;
            }
        }

        .btn_listing{

            button{
                padding: 18px 60px;
                gap: 10px;
                border-top-right-radius: 18px;
                border-bottom-left-radius: 18px;
                font-family: Montserrat;
                font-weight: 600;
                font-size: 16px;
                line-height: 100%;
                letter-spacing: 0%;
                text-align: center;
                background: #C40002;
                color: #fff;
                 border: none;
                 cursor: pointer;

                 &:hover{
                    background: #a70103;
                 }

            }
        }
    }
}

.accordion_wrapper{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 40px;

    .man_image{
        width: 40%;

        .man_img{
            width: 100% !important;
            object-fit: cover;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 20px;
            
        }
    }

}


.accordion {
    width: 60%;
    // max-width: 600px;
    // margin: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  .accordion_item {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    background: #fff;
  }
  
  .accordion_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background: #fff;
    border: none;
    cursor: pointer;
    text-align: left;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 158%;
    letter-spacing: 0%;
    color: #191919;
  }
  
  .accordion_header:hover {
    background: #f5f5f5;
  }
  
  .accordion_content {
    padding: 12px 16px;
    font-size: 14px;
    // color: #666;
    border-top: 1px solid #e0e0e0;

    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    line-height: 158%;
    letter-spacing: 0%;
    color: #000;
  }

  @include responsive("mobile"){
    .wrapper{
        background: #fff;
        padding: 40px 20px;
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
    
        .property_wrapper{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
    
            .property_container{
    
                p{
                    font-family: Montserrat;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    text-align: left;
                    color: #C40002;
                    margin-bottom: 10px;
                }
    
                h1{
                    font-family: Helvetica;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 114.99999999999999%;
                    letter-spacing: 0%;
                    color: #191919;
                    // width: 90%;
                }
            }
    
            .btn_listing{
                margin-top: 20px;
                width: 100%;
                max-width: 390px;
    
                button{
                    width: 100%;
                    padding: 15px 60px;
                    gap: 10px;
                    border-top-right-radius: 18px;
                    border-bottom-left-radius: 18px;
                    font-family: Montserrat;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    text-align: center;
                    background: #C40002;
                    color: #fff;
                     border: none;
                     cursor: pointer;
    
                     &:hover{
                        background: #a70103;
                     }
    
                }
            }
        }
    }
    
    .accordion_wrapper{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;
        margin-top: 40px;
    
        .man_image{
            width: 100%;
    
            .man_img{
                width: 100% !important;
                object-fit: cover;
                border-top-right-radius: 20px;
                border-bottom-right-radius: 3px;
                border-bottom-left-radius: 20px;
                
            }
        }
    
    }
    
    
    .accordion {
        width: 100%;
        // max-width: 600px;
        // margin: auto;
        display: flex;
        flex-direction: column;
        gap: 12px;
      }
      
      .accordion_item {
        border: 1px solid #e0e0e0;
        border-radius: 8px;
        overflow: hidden;
        background: #fff;
      }
      
      .accordion_header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px;
        background: #fff;
        border: none;
        cursor: pointer;
        text-align: left;
        font-family: Montserrat;
        font-weight: 400;
        font-size: 16px;
        line-height: 158%;
        letter-spacing: 0%;
        color: #191919;
      }
      
      .accordion_header:hover {
        background: #f5f5f5;
      }
      
      .accordion_content {
        padding: 12px 16px;
        font-size: 14px;
        // color: #666;
        border-top: 1px solid #e0e0e0;
    
        font-family: Montserrat;
        font-weight: 500;
        font-size: 16px;
        line-height: 158%;
        letter-spacing: 0%;
        color: #000;
      }
  }
  