@import "../../../../styles/index.scss";

.wrapper {
  display: flex;
  width: 100%;
  padding: 50px 0px 10px;

  .about_us_text {
    width: 50%;

    .about_us {

      p {
        font-family: Montserrat;
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #c40002;
        margin-bottom: 10px;
      }

      h1 {
        font-family: Helvetica Neue;
        font-weight: 500;
        font-size: 52px;
        line-height: 114.99999999999999%;
        letter-spacing: 0%;
        color: #191919;
      }
    }

    .about_last_text {
        padding: 20px 0px;
      p {
        font-family: Montserrat;
        font-weight: 500;
        font-size: 16px;
        line-height: 158%;
        letter-spacing: 0%;
        color: #717171;
        margin-bottom: 10px;
        width: 80%;

        span {
          font-family: Montserrat;
          font-weight: 500;
          font-size: 16px;
          line-height: 158%;
          letter-spacing: 0%;
          color: #000;
        }
      }
    }
  }

  .team {
    width: 50%;
    padding: 30px 0px;
    background-image: url("../../../../../public/assets/images/brick.svg");
    // background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-family: Open Sans;
      font-weight: 700;
      font-size: 24px;
      line-height: 130%;
      letter-spacing: 0px;
      text-transform: uppercase;
      text-align: center;
      color: #f9f9f9;
    margin-bottom: 30px;
    }

    .team_container {
      display: flex;
      gap: 10px;
      overflow-x: scroll;
      scrollbar-width: none;
      width: 100%;
      width: calc(100% + 50px); 
      margin-left: -50px;
    //   margin: 40px 0px;
      
    //   z-index: 999;
      


      .team_box {
        width: 200px;
        flex: 0 0 auto;

        border-width: 1px;
        border-top-left-radius: 1.72px;
        border-bottom-right-radius: 18.97px;
        border-bottom-left-radius: 18.97px;
        border: 1px solid #FFFFFF;
        // border: 1px solid #000;

        .elena_image {
          width: 100%;
          position: relative;
        //   border-width: 1px;
        //   border-top-left-radius: 1.72px;
        //   border-bottom-right-radius: 18.97px;
        //   border-bottom-left-radius: 18.97px;
          // max-width: 200px;

          .elena_img {
            width: 100%;
            max-width: 200px;
            height: 225px; // Prevents forced height issues
            display: block;
            border-width: 1px;
            border-top-left-radius: 1.72px;
            border-bottom-right-radius: 18.97px;
            border-bottom-left-radius: 18.97px;
          }

          .team_text {
            width: 100%;
            position: absolute;
            padding: 15px 10px;
            bottom: 0;
            background: linear-gradient(
              360deg,
              rgba(15, 15, 15, 0.73) 0%,
              rgba(164, 161, 161, 0.7227) 114.2%
            );
            backdrop-filter: blur(5.775862216949463px);
            border-width: 1px;
            border-top-left-radius: 1.72px;
            border-bottom-right-radius: 18.97px;
            border-bottom-left-radius: 18.97px;

            p {
              font-family: Montserrat;
              font-weight: 400;
              font-size: 12px;
              line-height: 100%;
              letter-spacing: 0%;
              text-align: center;
              color: #fff;
              margin-top: 10px;
              width: 100%;

              span {
                font-family: Montserrat;
                font-weight: 600;
                font-size: 14px;
                line-height: 100%;
                letter-spacing: 0%;
                text-align: center;
              }
            }
          }
        }

        // .team_text{
        //     border: 2px solid red;
        //     position: absolute;
        // }
      }
    }

    p{
        font-family: Open Sans;
        font-weight: 700;
        font-size: 14px;
        line-height: 130%;
        letter-spacing: 0px;
        text-align: center;
        margin-top: 40px ;
        color: #E4E4E4;
        width: 50%;
    }
  }
}

@include responsive("mobile"){
  .wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 50px 0px 10px;
  
    .about_us_text {
      width: 100%;
  
      .about_us {
  
        p {
          font-family: Montserrat;
          font-weight: 600;
          font-size: 15px;
          line-height: 100%;
          letter-spacing: 0%;
          color: #c40002;
          margin-bottom: 10px;
        }
  
        h1 {
          font-family: Helvetica Neue;
          font-weight: 500;
          font-size: 26px;
          line-height: 114.99999999999999%;
          letter-spacing: 0%;
          color: #191919;
        }
      }
  
      .about_last_text {
          padding: 20px 0px;
        p {
          font-family: Montserrat;
          font-weight: 500;
          font-size: 14px;
          line-height: 158%;
          letter-spacing: 0%;
          color: #717171;
          margin-bottom: 10px;
          width: 100%;
  
          span {
            font-family: Montserrat;
            font-weight: 500;
            font-size: 14px;
            line-height: 158%;
            letter-spacing: 0%;
            color: #000;
          }
        }
      }
    }
  
    .team {
      width: 100%;
      padding: 30px 0px;
      background-image: url("../../../../../public/assets/images/brick.svg");
      // background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
      align-items: center;
      display: none;
  
      h2 {
        font-family: Open Sans;
        font-weight: 700;
        font-size: 24px;
        line-height: 130%;
        letter-spacing: 0px;
        text-transform: uppercase;
        text-align: center;
        color: #f9f9f9;
      margin-bottom: 30px;
      }
  
      .team_container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        overflow-x: scroll;
        scrollbar-width: none;
        width: 100%;
        width: calc(100%); 
        margin-left: 140px;
      //   margin: 40px 0px;
        
      //   z-index: 999;
        
  
  
        .team_box {
          width: 200px;
          flex: 0 0 auto;
  
          border-width: 1px;
          border-top-left-radius: 1.72px;
          border-bottom-right-radius: 18.97px;
          border-bottom-left-radius: 18.97px;
          border: 1px solid #FFFFFF;
          // border: 1px solid #000;
  
          .elena_image {
            width: 100%;
            position: relative;
          //   border-width: 1px;
          //   border-top-left-radius: 1.72px;
          //   border-bottom-right-radius: 18.97px;
          //   border-bottom-left-radius: 18.97px;
            // max-width: 200px;
  
            .elena_img {
              width: 100%;
              max-width: 200px;
              height: 225px; // Prevents forced height issues
              display: block;
              border-width: 1px;
              border-top-left-radius: 1.72px;
              border-bottom-right-radius: 18.97px;
              border-bottom-left-radius: 18.97px;
            }
  
            .team_text {
              width: 100%;
              position: absolute;
              padding: 15px 0px;
              bottom: 0;
              background: linear-gradient(
                360deg,
                rgba(15, 15, 15, 0.73) 0%,
                rgba(164, 161, 161, 0.7227) 114.2%
              );
              backdrop-filter: blur(5.775862216949463px);
              border-width: 1px;
              border-top-left-radius: 1.72px;
              border-bottom-right-radius: 18.97px;
              border-bottom-left-radius: 18.97px;
  
              p {
                font-family: Montserrat;
                font-weight: 400;
                font-size: 12px;
                line-height: 100%;
                letter-spacing: 0%;
                text-align: center;
                color: #fff;
                margin-top: 0px;
  
                span {
                  font-family: Montserrat;
                  font-weight: 600;
                  font-size: 14px;
                  line-height: 100%;
                  letter-spacing: 0%;
                  text-align: center;
                }
              }
            }
          }
  
          // .team_text{
          //     border: 2px solid red;
          //     position: absolute;
          // }
        }
      }
  
      p{
          font-family: Open Sans;
          font-weight: 700;
          font-size: 12px;
          line-height: 130%;
          letter-spacing: 0px;
          text-align: center;
          margin-top: 40px ;
          color: #E4E4E4;
          width: 80%;
      }
    }
  }
}
